:host {
    display: block;
}

@keyframes pulse-red {
    0% {
        box-shadow: 0 0 0 0 rgba(239, 68, 68, 0.4);
    }

    70% {
        box-shadow: 0 0 0 15px rgba(239, 68, 68, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(239, 68, 68, 0);
    }
}

.pulsing-mic {
    animation: pulse-red 2s infinite;
}

/* Custom Scrollbar for Chat Area */
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #3f3f46;
    /* zinc-700 */
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
    background: #52525b;
    /* zinc-600 */
}