<hlm-alert-dialog [state]="isVisible ? 'open' : 'closed'" (closed)="cancel()">
  <hlm-alert-dialog-content *ngIf="isVisible">
    <hlm-alert-dialog-header>
      <h3 hlmAlertDialogTitle>{{ title }}</h3>
      <p hlmAlertDialogDescription class="whitespace-pre-line leading-relaxed">
        {{ message }}
      </p>
    </hlm-alert-dialog-header>

    <hlm-alert-dialog-footer>
      <button hlmAlertDialogCancel (click)="cancel()">
        {{ cancelText }}
      </button>
      <button hlmAlertDialogAction [variant]="isDestructive ? 'destructive' : 'default'" (click)="confirm()">
        {{ confirmText }}
      </button>
    </hlm-alert-dialog-footer>
  </hlm-alert-dialog-content>
</hlm-alert-dialog>